tags
*.o
*.d
*.a
*.elf
*.bin
*.hex
*.lss
*.map
*.sym
*.img
*.tsk
*.jpg
*.pyc
key.cfg
brt/*/boot-bin.c
factory/*/ifp-bin.c
me/*/applet-bin.c
me/*/jpeg-check
me/jpeg-data*
me/tools/check
me/tools/test
doc/me.html
